#create-user form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#create-user form div{
    width: 49%;
}


#create-user button{
    width: 49%;
    height: 40px;
    margin-top: 15px;
}


